 body {
    background-color: #fdfbe0;
    font-family: 'Orbitron', sans-serif;
}

nav {
    background-color: rgb(252, 251, 219);
}

.navegacao {
    list-style-type: none; /* Remove os bullets */
}

.navegacao a {
    text-decoration: none;  /* Remove o sublinhado */
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

h2 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

h3 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

p {
    color: #444444;
    margin-left: 10px;
}

#sumario {
    color: #444444;
    margin-left: 10px;
}

li {
    color: #444444
}

footer {
    color: rgb(255, 0, 0);
}
#Foto_do_Bruno{
   width: 500px; 
}